{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block login-nav-link %}
    <a href="{% url 'accounts:login' %}" class="btn btn-outline-light me-2">Вход</a>
{% endblock %}
{% block registration-nav-link %}
{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% include 'accounts/form.html' with form=u_form fields_only=True %}
        {% include 'accounts/form.html' with form=p_form fields_only=True %}
        <br>
        <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}