{% extends 'base.html' %}
{% load static %}

{% block title %}Детальный просмотр объявления для модерации{% endblock %}
{% block content %}
    <br>
    <div id="alert" class="alert mt-4" role="alert" style="display: none">

    </div>

        <button class="request btn btn btn-info"
                data-ad-url="{% url 'webapp:ads_to_moderate_publish' ad.pk %}">
            опубликовать
        </button>
        <button class="request btn btn btn-dark"
                data-ad-url="{% url 'webapp:ads_to_moderate_reject' ad.pk %}">
            отклонить
        </button>
    {% include 'partial/detail_ad.html' %}
{% endblock %}