{% load static %}
<div class="row my-3">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3" style="width: 18rem;">
                    {% if not ad.photo %}
                        <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{{ ad.photo.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">Категория: {{ ad.category }}</p>
                        <p class="card-text">Автор: {{ ad.author }} </p>
                        <p class="card-text">Телефон: {{ ad.author.profile.phone_number }} </p>
                        <p class="card-text">Дата создания: {{ ad.created_at}} </p>
                        <p class="card-text">Дата публикации: {{ ad.published_at|default:'еще не опубликовано'}} </p>
                        <div class="btn-group">
                            <a class="btn btn-primary"
                               href="#">Изменить</a>
                            <a class="btn btn-danger"
                               href="#">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>