{% load static %}
<div class="row my-3">
    {% for ad in ads %}
        <div class="col-12 col-md-4 col-lg-3">
            <div class="card mb-3" style="width: 18rem;">
                {% if not ad.photo %}
                    <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{{ ad.photo.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{% if request.path == '/moderate_ads/' %}
                            {% url 'webapp:ads_to_moderate_detail' ad.pk %}
                            {% else %}{% url 'webapp:ads_detail' ad.pk %}
                            {% endif %}">{{ ad.title }}</a></h5>
                    <p class="card-text">Категория: {{ ad.category }}</p>
                    <p class="card-text">Автор: <a href="
                    {% url 'accounts:detail_profile' ad.author.profile.slug %}">{{ ad.author }} </a></p>
                    <p class="card-text">Телефон: {{ ad.author.profile.phone_number }} </p>
                    <p class="card-text">Статус: {{ ad.get_status_display}}</p>
                    <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{% url 'webapp:ads_update' ad.pk %}">Изменить</a>
                        <a class="btn btn-danger"
                           href="{% url 'webapp:ads_delete' ad.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>